html{
  scroll-behavior: smooth;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.navigation {
  position: fixed;
  top: 0;
  width: 80%;
  background: #333;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.navigation ul{
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}

.navigation li{
  margin: auto;
  list-style: none;
  padding: 10px;
}

.portfolio-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #333;
}

.hero-section {
  text-align: center;
  padding: 3rem 0;
  background: #f4f4f9;
  border-radius: 12px;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #555;
}

.info{
  text-align: justify;
  justify-content: space-around;
  align-items: center;
}
.intro {
  font-size: 1.1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
  color: white;
}

.exp{
   font-size: 1.1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
  color: white;
}

.work{
  font-size: 1.1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
  color: white;
}

.contact{
  font-size: 1.1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
  color: white;
}